@import "../helpers/functions";
@import "../helpers/mixins";

.header {
  background-color: aqua;

  &__inner {
    margin-inline: auto;
    width: 100%;
    max-width: rem(960px);
    @include flex(space-between, center);
  }
}
